<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.engineering.novel.mapper.AuthorIncomeDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.example.engineering.novel.entity.AuthorIncomeDetail">
        <id column="id" property="id" />
        <result column="author_id" property="authorId" />
        <result column="book_id" property="bookId" />
        <result column="income_date" property="incomeDate" />
        <result column="income_account" property="incomeAccount" />
        <result column="income_count" property="incomeCount" />
        <result column="income_number" property="incomeNumber" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, author_id, book_id, income_date, income_account, income_count, income_number, create_time, update_time
    </sql>

</mapper>
