<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.engineering.novel.mapper.PayAlipayMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.example.engineering.novel.entity.PayAlipay">
        <id column="id" property="id" />
        <result column="out_trade_no" property="outTradeNo" />
        <result column="trade_no" property="tradeNo" />
        <result column="buyer_id" property="buyerId" />
        <result column="trade_status" property="tradeStatus" />
        <result column="total_amount" property="totalAmount" />
        <result column="receipt_amount" property="receiptAmount" />
        <result column="invoice_amount" property="invoiceAmount" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_payment" property="gmtPayment" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, out_trade_no, trade_no, buyer_id, trade_status, total_amount, receipt_amount, invoice_amount, gmt_create, gmt_payment, create_time, update_time
    </sql>

</mapper>
